<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="JWT_SECRET_KEY" value="Indesan_140670_Yecla"/>
    <add key="JWT_AUDIENCE_TOKEN" value="http://indesan.org:1443"/>
    <add key="JWT_ISSUER_TOKEN" value="http://indesan.org:1443"/>
    <add key="JWT_EXPIRE_MINUTES" value="120"/>
    <add key="CACHE_PERSISTENCE" value="14"/>
    <add key="SMTP_SERVER" value="box.indesan.com"/>
    <add key="SMTP_PORT" value="587"/>
    <add key="SMTP_USER" value="contacto@indesan.com"/>
    <add key="SMTP_PASSWORD" value="Indesan_140670"/>
    <add key="SMTP_SSL" value="True"/>
    <add key="CACHE_PERSISTENCE" value="14"/>
    <add key="LOCAL_VAULT" value="\\Servidor2\datos\GESTION\Archivos\Fax-Scanner\Historico\"/>
  </appSettings>
	  <connectionStrings>
    <add name="myCon3" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\servidor2\DATOS\GESTION\erp_datos.accdb;User ID=Luis;password=1234;Jet OLEDB:System database=\\servidor2\DATOS\GESTION\indesan.mdw"/>
    <add name="myCon2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\INDESAN\GESTION\erp_datos.accdb;User ID=Luis;password=1234;Jet OLEDB:System database=D:\INDESAN\GESTION\indesan.mdw"/>
      <add name="myCon" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\servidor2\DATOS\GESTION\Desarrollo\erp_datos.accdb;User ID=Luis;password=1234;Jet OLEDB:System database=\\servidor2\DATOS\GESTION\Desarrollo\indesan.mdw"/>
  </connectionStrings>

  <!--<system.net>
    <mailSettings>
      <smtp from = "contacto@indesan.com" >
        <network host="box.indesan.com"
                port="587"
                userName="contacto@indesan.com"
                password="Indesan_140670"
                enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>-->

  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <customErrors mode="Off"/>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="error.htm"/>-->
		   </system.web>
	 <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="100000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" responseBufferLimit="4194304" />
    </handlers>
  <httpProtocol>
    <customHeaders>
      <add name="Access-Control-Allow-Origin" value="*" />
      <add name="Access-Control-Allow-Credentials" value="true"/>
      <add name="Access-Control-Allow-Headers" value="*" />
      <add name="Access-Control-Allow-Methods" value="*" />
    </customHeaders>
  </httpProtocol>
  </system.webServer>
<system.codedom>
<compilers>
<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
</compilers>
</system.codedom>
</configuration>
